/*Homepage*/

.container {
  width: 100vw;
  height: 100vh;
}

.background-image-homepage {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('./assets/jozsef-hocza-BTur1pF9FR0-unsplash.jpg');
  background-size: cover;
  background-position: center;
  /* Additional background styles */
}

.start-button {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.title-homepage {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.subtitle-homepage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* Select page */

.background-image-select-page {
  background-color: #f5f5f5; /* Replace with your desired background color */
  background-image: url('./assets/jozsef-hocza-BTur1pF9FR0-unsplash.jpg'); /* Replace with the path to your background image */
  background-size: cover;
  background-position: center;

}
.select-page-container {
  width: 75%;
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-page-title {
  margin-bottom: 20px;
  text-align: center;
}

.select-page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.date-time-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.find-button-container {
  position: absolute;
  bottom: 20px; /* Adjust the desired position from the bottom */
  right: 20px; /* Adjust the desired position from the right */
}

/* Runners page */

.runner-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.runner-card {
  flex: 0 0 500px; 
  margin-bottom: 10px;
}

/* Header styles */
.runners-page-header {

  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

/* Content styles */
.runners-page-container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.runners-page-content {
  flex: 1;
  background-image: url('./assets/pexels-maksim-goncharenok-4348630.jpg'); 
  background-size: cover;
  background-position: center;
}

/* Footer styles */
.runners-page-footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}






